# Dependency folders 
node_modules/
client/node_modules/
server/node_modules/
dashboard/node_modules/

# Environment files (To Protect Neon DB & Cloudinary)
.env
*.env
server/config/*.env
server/config/config.env

# Build folders
dist/
build/
client/dist/
dashboard/dist/

# Logs and OS files
npm-debug.log*
.DS_Store
.vscode/